.body {
  margin: 10px;
}
.h2 {
  padding-left: 15px;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: rgb(241, 241, 241);
}
.border {
  background-color: rgb(207, 240, 247);
}